<div class="container">
  <h1 class="text-center">Hi: <%= current_user.username %>!</h1>

  <div align="center">
    <%= link_to 'New Project', new_project_path, class: 'btn btn-success btn-md' %>
  </div>

  <br />

  <div class="row">
    <div class="col-md-6 ml-auto mr-auto">
      <h4 class="text-center">Your Projects</h4>

      <ul class="list-group">
        <% @accepted_projects.each do |proj| %>
          <%= link_to proj.title, project_path(proj), class: "list-group-item list-group-item-action" %>
        <% end %>
      </ul>
    </div>

    <div class="col-md-6 ml-auto mr-auto">
      <h4 class="text-center">Pending Invitations</h4>

      <ul class="list-group">
        <% @pending_projects.each do |proj| %>
          <li class="list-group-item">
            <%= proj.title %>
            <%= link_to 'Accept Invitation', accept_project_invitation_path(proj_id: proj.id), class: 'btn btn-xs btn-success' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
