<li class="lg-item" id="uncompleted-feat-<%= feat.id %>">
  <%= feat.name %>

  <br /><br />

  <div class="features-username">
    <%= feat.owner_name %> - <%= feat.created_at.strftime("%-d/%-m/%Y") %>
  </div>

  <% if feat.is_owner_or_not(user) %>
    <div class="close-feature-form-div" id="close-feature-form-<%= feat.id %>">
      <%= render 'projects/close_feature', p: proj, f: feat %>
    </div>
  <% end %>
</li>
