<li class="list-group-item" id="uncompleted-feat-<%= feat.id %>">

  <div class="features-info">
    <%= feat.name %>

    <span class="badge badge-pill badge-info">
      <%= feat.owner_name %>
    </span>
  </div>

  <% if feat.is_owner_or_not(user) %>
    <br />
    
    <div class="close-feature-form-div" id="close-feature-form-<%= feat.id %>">
      <%= render 'projects/close_feature', p: proj, f: feat %>
    </div>
  <% end %>
</li>
