<div class="container">
  <h2 class="text-center">New Project</h2>

  <%= form_for @project do |f| %>

    <div class="row">
      <div class="col-md-6 ml-auto mr-auto">
        <%= f.label :title %>
        <%= f.text_field :title, placeholder: "Title of Project", class: "form-control", autofocus: true %>
      </div>
    </div>

    <br />

    <div class="row">
      <div class="col-md-6 ml-auto mr-auto">
        <%= f.label :repo_name, 'Name of Repository on Github' %>
        <%= f.text_field :repo_name, placeholder: "Name of Repository on Github", class: "form-control" %>
      </div>
    </div>

    <br />

    <%= f.hidden_field :owner, value: current_user.id %>

    <div align="center">
      <%= f.submit 'Submit', class: "btn btn-primary btn-md" %>
    </div>

  <% end %>
</div>
