<div id="new-feature-holder">
  <div class="new-feature-form">
  </div>
</div>

<div class="container">
  <h2 class="text-center"><%= @project.title %> - Features</h2>

  <% if @owner %>
    <br />

    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">

        <h4 class="text-center" id="user-status">User Status</h4>

        <br />

        <div id="user-status-holder">
          <div class="row">
            <div class="col-6">

              <h6 class="text-center">Confirmed Users</h6>

              <ul class="list-group">
                <% @confirmed_users.each do |cu| %>
                  <li class="list-group-item">
                    <%= cu.username %>
                  </li>
                <% end %>
              </ul>

            </div>

            <div class="col-6">

              <h6 class="text-center">Unconfirmed Users</h6>

              <ul class="list-group">
                <% @unconfirmed_users.each do |uu| %>
                  <li class="list-group-item">
                    <%= uu.username %>
                  </li>
                <% end %>
              </ul>

            </div>
          </div>
        </div>

      </div>
    </div><br />

    <div align="center">
      <%= link_to 'New Feature', new_feature_path(proj_id: @project.id), class: "btn btn-success", remote: true %>
      <%= link_to 'Invite User', invite_users_path(@project.id), class: "btn btn-primary" %>
    </div>

    <br /><br />

  <% end %>

  <br />

  <div class="row">
    <div class="col-md-9">

      <div class="row">
        <div class="col-md-4 ml-auto mr-auto">
          <div id="pending-features">
            <h4 class="text-center show-features-header">Pending Features</h4>

            <ul class="pending-features-ul pending-<%= current_user.username %>">
              <% @pending_features.each do |feat| %>
                <%= render 'uncompleted_feature', feat: feat, proj: @project, user: current_user %>
              <% end %>
            </ul>
          </div>
        </div>

        <div class="col-md-4 ml-auto mr-auto">
          <div id="existing-bugs">
            <h4 class="text-center show-features-header">Existing Bugs</h4>

            <ul class="list-group bug-features-ul pending-<%= current_user.username %>">
              <% @bug_features.each do |feat| %>
                <%= render 'uncompleted_feature', feat: feat, proj: @project, user: current_user %>
              <% end %>
            </ul>
          </div>
        </div>

        <div class="col-md-4 ml-auto mr-auto">
          <div id="completed-features">
            <h4 class="text-center show-features-header">Completed Features</h4>

            <ul class="list-group completed-features-ul">
              <% @completed_features.each do |feat| %>
                <%= render 'completed_feature', feat: feat %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>


    </div>

    <div class="col-md-3">
      <h4 class="text-center" id="nb-title">Notice Board</h4>

      <%= form_for @new_message, remote: true do |f| %>

        <div class="input-group" id="notice-board-form-holder">
          <%= f.text_field :message, placeholder: 'Enter Notice Here', class: 'form-control', id: 'notice-board-message' %>

          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.hidden_field :project_id, value: @project.id %>
          <br />

          <span class="input-btn-group">
            <%= f.submit 'Send', class: 'btn btn-default', id: 'notice-board-send' %>
          </span>
        </div>

      <% end %>

      <br />

      <ul class="list-group" id="notice-board">
        <% @messages.each do |m| %>
          <%= render 'messages/message', m: m %>
        <% end %>
      </ul>
    </div>
  </div>


</div>


<script type="text/javascript">
  $(document).ready( function() {
    $('#new-feature-holder').on('click', '#submit-new-feature-form', () => {
      $('#new-feature-holder').fadeOut('1000');
    });

    $('#new-feature-holder').on('click', '#close-new-feature-holder', () => {
      $('#new-feature-holder').fadeOut('1000');
    });

    $('#user-status').click( () => {
      $('#user-status-holder').slideToggle('1000');
    });
  });
</script>
